<nav class="app-navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a routerLink="/"><img src="svg/logo.svg" alt="Logo"></a>
    </div>
    @if (currentRoute === "/" || currentRoute === "/login") {
      <ul class="navbar-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="#">About</a></li>
        <li><a routerLink="#">Services</a></li>
        <li><a routerLink="#">Contact</a></li>
      </ul>
    }
    <div class="navbar-actions">
      @if (!currentUser) {
        <button class="btn btn-primary" routerLink="/login">Login</button>
        <button class="btn btn-secondary" routerLink="/register">Register</button>
      } @else {
        <div class="user-info">
          <span class="user-name">{{ currentUser.prenom }} {{ currentUser.nom }}</span>
          <span class="user-role">{{ getUserRoleText(currentUser.role) }}</span>
        </div>
        <button class="btn btn-primary" (click)="logout()">Logout</button>
      }
    </div>
  </div>
</nav>
